/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 0 20px;
  }

  body a {
    color: #111985;
    text-decoration: none;
  }

  body a:hover {
    text-decoration: underline;
  }

  body p {
    margin: 10px 0;
  }
  
  /* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  } */

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
  }

  .header-container h1 {
    margin: 0;
  }

  .profile-container {
    flex: 1; 
    text-align: left; 
    max-width: 300px; 
    padding: 20px; 
    margin-right: 20px;
  }
  
  /* header h1 {
    margin: 0;
    font-size: 1.5rem;
  } */
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Remove margin for the last item */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    color: #111985; /* Change color on hover */
    text-decoration: none;;
  }  

  img {
    max-width: 100%;
    object-fit: cover;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  main section {
    flex: 1 1 45%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  section p {
    margin: 10px 0;
  }

  section p:last-child {
    margin-bottom: 0;
  }

  #publications ul {
    margin-left: 20px;
  }
  
  footer {
    text-align: center;
    margin: 20px 0;
  }
  
  footer a {
    color: #0077b5;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
  }
    